body {
  margin: auto;
}

.main_title {
  color: #D5812D;
}
.main_title_2 {
  color: #8B50FE;
}

header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  background-color: #f3e9f1;
  height: auto;
}
header .header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5px;
}
header .header_link {
  text-decoration: none;
  color: #454545;
  font-family: "Montserrat", sans-serif;
  margin: auto 30px auto 5px;
  text-align: right;
  opacity: 0.9;
  transform: scale(0.9);
  transition: transform 300ms ease-in-out;
}
header .header_link:hover {
  opacity: 1;
  transform: scale(1);
}
header a img {
  max-width: max-content;
  display: inline-block;
  padding-left: 30px;
  margin: auto;
}

footer {
  margin: auto;
  height: auto;
  background-color: #f3e9f1;
  color: #454545;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #454545;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 8px;
}
footer a {
  color: #D5812D;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  text-decoration: none;
}
footer a:hover {
  color: #8B50FE;
}
footer .footerLink {
  margin: auto;
  padding-bottom: 12px;
}

main {
  background-color: #ffffff;
  margin: auto;
  padding-bottom: 40px;
}
main h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
main h2 {
  font-family: "Montserrat", sans-serif;
  color: #454545;
  text-align: center;
  margin: auto;
  font-size: 1.2em;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
}
main .mainTeddies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section a {
  width: 350px;
  height: 200px;
  border-radius: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 0 20px #bababa;
  margin: 30px auto 30px auto;
  padding: 20px;
  background-color: #D5812D;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
section a img {
  margin: auto;
  width: 250px;
  height: auto;
  border-radius: 20%;
  box-shadow: 0 0 20px #bababa;
}
section a .teddies_ref {
  margin: auto;
}
section a .teddies_ref h3 {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 20px;
}
section a .teddies_ref p {
  color: #f3e9f1;
  font-style: italic;
}

.logo_zoom {
  opacity: 0.9;
  transform: scale(0.9);
  transition: transform 300ms ease-in-out;
}
.logo_zoom:hover {
  opacity: 1;
  transform: scale(1);
}

.section_zoom {
  transform: scale(0.95);
  background-color: #D5812D;
  transition: transform 300ms ease-in-out;
}
.section_zoom:hover {
  transform: scale(1);
  background-color: #8B50FE;
}
.section_zoom .teddy_ref {
  display: flex;
  box-shadow: 0 0 20px #bababa;
  background-color: #D5812D;
  margin: 20px auto 10px auto;
  height: auto;
  width: 70%;
}
.section_zoom .teddy_ref h3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.section_zoom .teddy_ref p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 15px;
}
.section_zoom .teddy_ref .confirm {
  margin: 30px auto 30px auto;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 0 0 20px #bababa;
}
.section_zoom .teddy_ref .confirm h3 {
  color: #D5812D;
}
.section_zoom .teddy_ref .confirm .confirm_par {
  font-weight: 500;
  text-align: left;
  margin-left: 30px;
  color: #D5812D;
}
.section_zoom .teddy_ref img {
  width: 50%;
  height: 50%;
  margin: 50px auto 50px 40px;
  border-radius: 20%;
  box-shadow: 0 0 20px #bababa;
}
.section_zoom .teddy_ref .teddy_info {
  font-family: "Montserrat", sans-serif;
  color: #454545;
  text-align: center;
  margin: auto;
  width: 40%;
  padding: 20px;
}
.section_zoom .teddy_ref .teddy_info h3 {
  color: #ffffff;
  margin-bottom: 30px;
}
.section_zoom .teddy_ref .teddy_info p {
  padding: 5px;
  color: #f3e9f1;
}
.section_zoom .teddy_ref .teddy_info .teddy_price {
  font-weight: 500;
  color: #ffffff;
}
.section_zoom .teddy_ref .teddy_cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}
.section_zoom .teddy_ref .teddy_cart h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 20px auto 20px auto;
}
.section_zoom .teddy_ref .teddy_cart .each_teddy {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: #f3e9f1;
  border: 1px solid #D5812D;
}
.section_zoom .teddy_ref .teddy_cart .each_teddy p {
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  padding: 5px;
  color: #D5812D;
  font-weight: 500;
}
.section_zoom .teddy_ref .teddy_cart .each_teddy .teddy_price {
  display: flex;
  font-weight: 500;
}
.section_zoom .teddy_ref .teddy_cart .each_teddy .teddy_price button {
  margin: auto 20px auto auto;
  background-color: #ffffff;
  color: #D5812D;
  border-radius: 10px;
  font-size: 1em;
  padding: 8px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.section_zoom .teddy_ref .teddy_cart .each_teddy .teddy_price button:hover {
  background-color: #f3e9f1;
  transform: scale(1.1);
  color: #8B50FE;
}
.section_zoom .teddy_ref .teddy_cart .icon_garbage {
  width: auto;
  border-radius: 10px;
  margin: 20px auto 30px auto;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #D5812D;
  font-weight: 500;
  font-size: 0.8em;
  padding: 8px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.section_zoom .teddy_ref .teddy_cart .icon_garbage:hover {
  background-color: #f3e9f1;
  transform: scale(1.1);
  color: #8B50FE;
}
.section_zoom .teddy_ref .teddy_cart .icon_garbage #cart_link {
  text-decoration: none;
  color: #D5812D;
}
.section_zoom .teddy_ref .teddy_cart .icon_garbage #cart_link:hover {
  color: #8B50FE;
}
.section_zoom .teddy_ref .teddy_cart .icon_garbage .fas {
  font-size: 1.5em;
  padding: 5px;
}

.teddy_ref {
  display: flex;
  box-shadow: 0 0 20px #bababa;
  background-color: #D5812D;
  margin: 20px auto 10px auto;
  height: auto;
  width: 70%;
  border-radius: 1rem;
}
.teddy_ref h3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.teddy_ref p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 15px;
}
.teddy_ref .confirm {
  margin: 30px auto 30px auto;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 0 0 20px #bababa;
}
.teddy_ref .confirm h3 {
  color: #D5812D;
}
.teddy_ref .confirm .confirm_par {
  font-weight: 500;
  text-align: left;
  margin-left: 30px;
  color: #D5812D;
}
.teddy_ref img {
  width: 50%;
  height: 50%;
  margin: 50px auto 50px 40px;
  border-radius: 20%;
  box-shadow: 0 0 20px #bababa;
}
.teddy_ref .teddy_info {
  font-family: "Montserrat", sans-serif;
  color: #454545;
  text-align: center;
  margin: auto;
  width: 40%;
  padding: 20px;
}
.teddy_ref .teddy_info h3 {
  color: #ffffff;
  margin-bottom: 30px;
}
.teddy_ref .teddy_info p {
  padding: 5px;
  color: #f3e9f1;
}
.teddy_ref .teddy_info .teddy_price {
  font-weight: 500;
  color: #ffffff;
}
.teddy_ref .teddy_cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}
.teddy_ref .teddy_cart h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 20px auto 20px auto;
}
.teddy_ref .teddy_cart .each_teddy {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: #f3e9f1;
  border: 1px solid #D5812D;
}
.teddy_ref .teddy_cart .each_teddy p {
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  padding: 5px;
  color: #D5812D;
  font-weight: 500;
}
.teddy_ref .teddy_cart .each_teddy .teddy_price {
  display: flex;
  font-weight: 500;
}
.teddy_ref .teddy_cart .each_teddy .teddy_price button {
  margin: auto 20px auto auto;
  background-color: #ffffff;
  color: #D5812D;
  border-radius: 10px;
  font-size: 1em;
  padding: 8px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.teddy_ref .teddy_cart .each_teddy .teddy_price button:hover {
  background-color: #f3e9f1;
  transform: scale(1.1);
  color: #8B50FE;
}
.teddy_ref .teddy_cart .icon_garbage {
  width: auto;
  border-radius: 10px;
  margin: 20px auto 30px auto;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #D5812D;
  font-weight: 500;
  font-size: 0.8em;
  padding: 8px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.teddy_ref .teddy_cart .icon_garbage:hover {
  background-color: #f3e9f1;
  transform: scale(1.1);
  color: #8B50FE;
}
.teddy_ref .teddy_cart .icon_garbage #cart_link {
  text-decoration: none;
  color: #D5812D;
}
.teddy_ref .teddy_cart .icon_garbage #cart_link:hover {
  color: #8B50FE;
}
.teddy_ref .teddy_cart .icon_garbage .fas {
  font-size: 1.5em;
  padding: 5px;
}

form {
  margin: 10px;
  font-weight: 500;
}

.colors_choice {
  margin-bottom: 10px;
}
.colors_choice label {
  color: #ffffff;
}
.colors_choice select {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: auto;
}

#submit {
  width: auto;
  border-radius: 10px;
  margin: 20px auto 30px auto;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #D5812D;
  font-weight: 500;
  font-size: 0.8em;
  padding: 8px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
#submit:hover {
  background-color: #f3e9f1;
  transform: scale(1.1);
  color: #8B50FE;
}

.back button {
  display: flex;
  margin: auto auto 30px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #D5812D;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.back button:hover {
  background-color: #8B50FE;
  transform: scale(1.1);
}
.back button a {
  text-decoration: none;
  color: #ffffff;
}

.total {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: larger;
  margin: 20px auto 20px auto;
}

.empty_cart {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: larger;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact_form {
  border: 4px solid #f3e9f1;
}
.contact_form h3 {
  text-align: center;
  padding: 5px;
  font-weight: 400;
  color: #D5812D;
}
.contact_form .div_name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
.contact_form .div_name .name {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 50%;
}
.contact_form .div_name #valid {
  width: auto;
  border-radius: 10px;
  margin: 20px auto 30px auto;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #D5812D;
  font-weight: 500;
  font-size: 0.8em;
  padding: 8px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.contact_form .div_name #valid:hover {
  background-color: #f3e9f1;
  transform: scale(1.1);
  color: #8B50FE;
}

.teddy_confirm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: flex;
  box-shadow: 0 0 20px #bababa;
  background-color: #D5812D;
  margin: 20px auto 10px auto;
  height: auto;
  width: 70%;
}
.teddy_confirm h3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.teddy_confirm p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 15px;
}
.teddy_confirm .confirm {
  margin: 30px auto 30px auto;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 0 0 20px #bababa;
}
.teddy_confirm .confirm h3 {
  color: #D5812D;
}
.teddy_confirm .confirm .confirm_par {
  font-weight: 500;
  text-align: left;
  margin-left: 30px;
  color: #D5812D;
}

/*# sourceMappingURL=styles.css.map */
