// Paramètres header
@mixin header {
    font-family: $main_font;
    font-size: 1.3em;
    background-color: $primary_color;
    height: auto;
}

// Paramètres main
@mixin main
{
    background-color: $body_color;
    margin: auto;
    padding-bottom: 40px;
}