.teddy_confirm {
    @include flex_column;
    display: flex;
    box-shadow: $box_shadow;
    background-color: $title1;
    margin: 20px auto 10px auto;
    height: auto;
    width: 70%;
    h3 {
        color: $body_color;
        font-family: $main_font;
        text-align: center;
    }
    p {
        color: $body_color;  
        font-family: $main_font;
        text-align: center;
        margin: 15px;
    }
    .confirm {
        margin: 30px auto 30px auto;
        width: 80%;
        background-color: $body_color;
        box-shadow: $box_shadow;
        h3 {
            color: $title1;
        }
        .confirm_par {
            font-weight: 500;
            text-align: left;
            margin-left: 30px;
            color: $title1;
        }
    }
}