main {
    @include main;
    h1 {
        font-family: $main_font;
        font-size: 2em;
        text-align: center;
        margin: auto;
        padding-top: 20px;
    }
    h2 {
        font-family: $main_font;
        color: $main_color;
        text-align: center;
        margin: auto;
        font-size: 1.2em;
        font-weight: lighter;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}