main {
    @include main;
    h1 {
        font-family: $main_font;
        font-size: 2em;
        text-align: center;
        margin: auto;
        padding-top: 20px;
    }
    h2 {
        font-family: $main_font;
        color: $main_color;
        text-align: center;
        margin: auto;
        font-size: 1.2em;
        font-weight: lighter;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mainTeddies {
        @include flex_center;
        flex-wrap: wrap;
    }
}

// section
section {
    a {
        @include section;
        @include flex_center;
        img {
            margin: auto;
            width: 250px;
            height: auto;
            border-radius: 20%;
            box-shadow: $box_shadow;
        }
        .teddies_ref {
            margin: auto;
            h3 {
                color: $body_color;
                padding-left: 10px;
                padding-right: 20px;                
            }
            p {
                color: $primary_color;
                font-style: italic;
            }
        }
    }   
}

//animation a class "zoom"
.logo_zoom {
    opacity: 0.9;
    transform: scale(0.9);
    transition: transform 300ms ease-in-out;
    &:hover {
        opacity: 1;
        transform: scale(1);
    }
}

.section_zoom {
    transform: scale(0.95);
    background-color: $title1;
    transition: transform 300ms ease-in-out;
    &:hover {
        transform: scale(1);
        background-color: $title2;
    }
    // éléments page produit
    // éléments div principale
    .teddy_ref {
        display: flex;
        box-shadow: $box_shadow;
        background-color: $title1;
        margin: 20px auto 10px auto;
        height: auto;
        width: 70%;
        h3 {
            color: $body_color;
            font-family: $main_font;
            text-align: center;
        }
        p {
            color: $body_color;  
            font-family: $main_font;
            text-align: center;
            margin: 15px;
        }
        .confirm {
            margin: 30px auto 30px auto;
            width: 80%;
            background-color: $body_color;
            box-shadow: $box_shadow;
            h3 {
                color: $title1;
            }
            .confirm_par{
                font-weight: 500;
                text-align: left;
                margin-left: 30px;
                color: $title1;
            }
        }
        img {
            width: 50%;
            height: 50%;
            margin: 50px auto 50px 40px;
            border-radius: 20%;
            box-shadow: $box_shadow;
        }
        .teddy_info {
            font-family: $main_font;
            color: $main_color;
            text-align: center;
            margin: auto;
            width: 40%;
            padding: 20px;
            h3 {
                color: $body_color;
                margin-bottom: 30px;
            }
            p {
                padding: 5px;
                color: $primary_color;  
            }
            .teddy_price {
                font-weight: 500;
                color: $body_color;
            }
        }
        .teddy_cart {
            @include flex_column;
            width: 100%;
            padding-bottom: 20px;
            h3 {
                font-family: $main_font;
                color: $body_color;
                margin: 20px auto 20px auto;
            }
            .each_teddy{
                @include flex_space_between;
                width: 80%;
                margin: auto;
                background-color: $primary_color;
                border: 1px solid $title1;
                p {
                    font-family: $main_font;
                    margin-left: 15px;
                    padding: 5px;
                    color: $title1;  
                    font-weight: 500;
                }
                .teddy_price {
                    display: flex;
                    font-weight: 500;
                    button{
                        margin: auto 20px auto auto;
                        background-color: $body_color;
                        color: $title1;
                        border-radius: 10px;
                        font-size: 1em;
                        padding: 8px;
                        transform: scale(1);
                        transition: transform 300ms ease-in-out;
                        &:hover {
                            background-color: $primary_color;
                            transform: scale(1.1);
                            color: $title2;
                        }
                    }
                }
            }   
            .icon_garbage {
                @include submit;
                #cart_link{
                    text-decoration: none;
                    color: $title1; 
                    &:hover {
                        color: $title2;
                    }
                }
                .fas{
                    font-size: 1.5em; 
                    padding: 5px;
                }
            }
        }
    }
}