// fonts
$main_font: 'Montserrat', sans-serif;

// Colors
// backgrounds colors 
$primary_color: #f3e9f1;
$body_color: #ffffff;
// fonts colors
$main_color: #454545;
$title1: #D5812D;
$title2: #8B50FE;
// box shadow
$box_shadow: 0 0 20px #bababa;

//Responsive
$x_small: 360px;
$small: 760px;
$large: 1024px;