header {
    @include header;
    .header{
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 5px;
        &_link {
            text-decoration: none;
            color: $main_color;
            font-family: $main_font;
            margin: auto 30px auto 5px;
            text-align: right;
            opacity: 0.9;
            transform: scale(0.9);
            transition: transform 300ms ease-in-out;
            &:hover {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    a img{
        max-width: max-content;
        display: inline-block;
        padding-left: 30px;
        margin: auto;
    }
}

// responsive
// écrans moins de 360px
@media #{$x_small_screen} {
    header {
        a img {
            width: 90%;
            height: 90%;
            padding-left: 10px;
        }
        &_link {
            text-decoration: none;
            color: $main_color;
            font-family: $main_font;
            margin: auto 10px auto 5px;
            text-align: right;
            font-size: 0.8em;
        }
    }
}
// écrans plus de 360px et moins de 760 px 
@media #{$small_screen} {
    header{
        a img{
            width: 90%;
            height: 90%;
            padding-left: 15px;
        }
        &_link {
            text-decoration: none;
            color: $main_color;
            font-family: $main_font;
            margin: auto 15px auto 5px;
            text-align: right;
            font-size: 1em;
        }
    }
}